
/* header */

header {
    position: fixed;
    top:0;
   
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10000;
    padding: 30px 100px;
}
.header-container {
    /* margin-left: 5%; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sticky {
    background-color: white;
    /* padding: 4px 100px; */
    color: black;
    z-index: 9999999;
    /* border-bottom: 0.5px solid grey; */
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    height: 60px;

}
.stickyElements {
color: black;
}

header .logo {
position: relative;
text-transform: uppercase;
font-weight: 700;
font-size: 30px;

transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
    color: white;
    padding: 5px;
    
}
header ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}

header.sticky ul li a {
    color: black;
    margin-left: 10%;
}
header.sticky a {
    color: black;
}
.nav-links {
    position: relative;
}
ul li:hover:after {
    content: "";
    position: absolute;
    top: 30px;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left:calc(50% - 8px);
}
/* ______________________________________________Sita reiks pakeist kai idesim JS ant nav baro, kad uzsidetu taskiukai, jeigu pamirsiu, priminkit!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ul li::after {
    content: "";
    position: absolute;
    top: 30px;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left:calc(50% - 8px);
    display: none;
} __________________________________________________________________________________________________________________________________________________________________*/
/* hero */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url(../testImage.jpg);  /* sita nuotrauka pakeisti kai gausim final img kataloga */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.bg-overlay {
background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.hero-container {
    width: 80%;
  display: flex;
justify-content: center!important;
flex-wrap: wrap;
margin:0 auto;
height: 50%;
margin-top: 25vh;

}
.hero-container-center {
    width: 95%;
    text-align: center;
}
 .rows > h4 {
    font-size: 24px;
}
.rows > h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
}
.social {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.fa {
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    background-color:rgba(0, 0, 0, 0.7); ;
}   
.hero-btn {
    padding: 12px 26px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    width: 160px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 300;
    line-height: 1.5;
    z-index: 99999;
}
.rows {
    margin-bottom: 30px;
}
#particles-js {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: -1;
    top: 0;
}
canvas {
    position: absolute;
}
.hero-mouse {
    width: 30px;
    height: 57px;
    border: 2px solid white;
    position: absolute;
    right: 50%;
    left: 48.5%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    bottom: 30px;
    animation: mouse 2s infinite;
   
}
.test {
    height: 200vh;
}
.hero-mouse::after {
    content: "^";
    width: 1px;
    height: 5px;
    position: absolute;
    right: 38%;
    bottom: 9px;
    transform: rotate(179deg);
    font-size: 14px;
}
.hero-bottom-for-mouse {
    width: 100%;

}
@keyframes mouse {
    0%, 20%, 53%, 80%, 100% {transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215,.61,.355,1);}
    /* 0%   {bottom: 30px;}
  
    30% {bottom: 10px;}
    50% 
    57%  {bottom:0px}
    64%  
    100%  */
  
  40%,43% {
    animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    transform: translate3d(0,-30px,0);
  }

70% {
    animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    transform: translate3d(0,-15px,0);
}
100% {transform: translate3d(0,-4px,0);}
}
/* about me */

/* services */

/* statistics */

/* education */

/* hire me */

/* our work */

/* our clients */

/* trusties */

/* subscribe */

/* blog */

/* contact */

/* footer */