body {
    display: grid;
    grid-template-columns: 1fr;
    
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr;

}
    .container-fluid > .row {
        grid-column: 1 / 2;  
    }

.container {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;

}
    .container > .row {
        grid-column: 2 / 3;
    }
    /* header */
    /* hero */
    /* about me */
        .aboutMe {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            grid-template-areas:
            "about about"
            "hello hello"
            "bar1 bar2";
        }

            .about-section {
                grid-area: about;
            }

            .hello-section {
                grid-area: hello;
            }

            .row.aboutMe > .bar1 {
                grid-area: bar1;
            }

            .row.aboutMe > .bar2 {
                grid-area: bar2;
            }

            @media (max-width: 960px) {
                .container {
                    grid-template-columns: 1fr 770px 1fr;
                }
            
                .aboutMe {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                    "about"
                    "hello"
                    "bar1"
                    "bar2"
                }
            
            }

        /* services */
            .services {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas:
                "topas topas topas"
                "bot bot bot";
                background-color: #F8F9FA;
                gap: 20px;
            }
                .services-topas {
                    grid-area: topas;
                    background-color: red;
                }
                .services-bot {
                    grid-area: bot;
                    background-color: green;
                }
        /* statistics */

        /* education */

        /* hire me */

        /* our work */

        /* our clients */

        /* trusties */

        /* subscribe */

        /* blog */

        /* contact */

        /* footer */
        

@media (max-width: 1400px) {
    .container {
        grid-template-columns: 1fr 1200px 1fr;
    }
}
@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1000px 1fr;
    }
}
@media (max-width: 960px) {
    .container {
        grid-template-columns: 1fr 770px 1fr;
    }

}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 15px 1fr 15px;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 15px 1fr 15px;
    }
}
