
        aside .aside-container{
            background-color: white;
            padding: 25px;
        }

        .aside-container h4 {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
        }


/* SEARCH */
        .aside-search #search{
            padding: 10px 12px;
            border: none;
        }

        .aside-search #search::placeholder{
            font-size: 16px;
        }

        .aside-search #search:hover,
        .aside-search #search:focus{
            outline: none;
        }

        .aside-search .form{
            border: 1px solid #ced4da;
            position: relative;
        }

        .aside-search input{
            width: 100%;
        }

        .aside-search .fa {
            padding: 10px;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: grey;
        }


/* CATEGORIES */
        .categories-item{
            color: grey;
            padding: 5px 20px 5px 0px;
            margin: 5px;
            cursor: pointer;
            font-size: 14px;
        }


/* RECENT POSTS */
            .aside-recent-posts .recent-post-item {
            padding: 15px;
            width: 100%;
            /* position: relative; */
        }
            
            .aside-recent-posts .recent-post-item >*{
                display: inline-block;
            }

        
            .aside-recent-posts .recent-post-item + .recent-post-item{
                border-top: 1px solid rgba(238, 238, 238, .7);
            }

            .aside-recent-posts .recent-post-item img{
                width: 65px;
                border-radius: 0.25rem;  
                cursor: pointer;      
                margin-right:10px;        
            }

            .aside-recent-posts .recent-post-item-texts > *{
                line-height: 2;
                /* position: absolute;
                top: 15px;
                bottom: 15px; */
            }

            .aside-recent-posts .recent-post-item-texts{
                width: calc (100% - 65px);
            }

            .aside-recent-posts .recent-post-item-texts h4{
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;     
                text-transform: none;
                margin: 0px;
                margin-top: -6px;

            }

            .aside-recent-posts .recent-post-item-texts p{
                font-size: 12px;
                color: grey;
                /* position: absolute;
                bottom: 0px; */
            }


/* TAGS */
        .aside-tags .tags > *{
            display: inline-block;
            background-color: #f8f9fa;
            border: 1px solid #e7e7e7;
            border-radius: 2px;
            text-transform: uppercase;
            color: #9c9c9c;
            font-size: 9px;
            letter-spacing: 1px;
            padding: 7px 10px;
            margin: 5px 10px 5px 0px;
            cursor: pointer;
        }



