
        aside .aside-container{
            background-color: white;
            padding: 25px;
        }

        .aside-container h4 {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
        }

        .aside-search #search{
            padding: 10px 12px;
            border: none;
        }

        .aside-search #search::placeholder{
            font-size: 16px;
        }

        .aside-search #search:hover,
        .aside-search #search:focus{
            outline: none;
        }

        .form{
            border: 1px solid #ced4da;
            position: relative;
        }

        .aside-search .fa {
            padding: 10px;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: grey;
        }



