body{
    background-color: #f8f9fa;
}

h1, h2, h3, h5 {
    font-family: 'Montserrat', sans-serif;
}

    header{
        height: 70px;
        background-color: transparent;
        padding: 20px 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        align-items: center;
    }

    header.active{
        background-color: white;
        padding: 15px 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        transition: all 0.5s ease-in-out;
    }

        header .logo{
            float: left;
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
        }

        header .go-home{
            float: right;
            font: 16px;
            line-height: 30px; 
        }

            .headerLinks > a {
                color: white;
            }

            .headerLinks.active > a,
            .headerLinks.active #burger{
                color: black;
            }

        .dropdown{
            display: none;
            float: right;
            color: white;
            font-size: 30px;
        }

@media (max-width: 900px) {
        .headerLinks{
        position: relative;
        } 

            header .go-home{
                display: none;
            }

            .dropdown{
                display: block;
                cursor: pointer;
            }
  
                .dropdown-content {
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                }
                
                    .dropdown-content a {
                        color: white;
                        padding: 6px 6px;
                        text-decoration: none;
                        display: block;
                        font-size: 16px;
                    }

                .dropdown-content.active {
                    background-color: white;
                }

                    .dropdown-content.active > a {
                        color: black;
                    }
                    
                    .show {
                        display:block;
                        }

}
 
    .hero{
        background-image: url(../img/blog-subPage-hero-background.jpg);
        background-position: 0% 40%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 200px 0px 120px 0px;
        color: white;
        position: relative;
    }

    .bg-overlay{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

        .hero-texts{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }

            .hero-texts > h1{
                font-size: 32px;
                font-weight: 600;
                margin: 10px 0px;
            }

            .hero-texts a {
                text-transform: uppercase;
                margin: 5px 5px;
            }

            /* .hero-texts a:visited {
                color: grey;
            } */

    main{
        background-color: #f8f9fa;
        padding: 80px;
    }

        main .blog{

        }

            .blog > .blogItem{
                background-color: white;
                padding: 10px;
                text-align: center;
                font-size: 16px;
                color: #6c757d;
            }

                .blog > .blogItem >img{
                    width: 100%;

                }

                .blog > .blogItem >h4{
                    font-size: 20px;
                    color: black;
                }

                .blog > .blogItem > .blogCategory{
                    font-weight: 700;
                    color: black;

                }

                .blog > .blogItem > .blogDate >.author{
                    color: black;
                    font-weight: 700;
                }

                .blog > .blogItem > .blogText{

                }

                .blog > .blogItem > .readMore{
                    font-weight: 700;
                    color: #6c757d;
                    text-transform: capitalize;
                    padding-bottom: 16px;
                }

        main .nav{
            text-align: center;
            margin: 15px 0px;
        }        

        /* Pagination links */
        .nav a {
            color: grey;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 3px;
            transition: background-color .3s;
        }
        
        /* Style the active/current link */
        .nav a.active-page {
            background-color: black;
            color: white;
        }
        
        /* Add a grey background color on mouse-over */
        .nav a:hover:not(.active-page) {background-color: #ddd;}


        aside .aside-container{
            background-color: white;
            padding: 25px;
        }

        .aside-container h4 {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
        }

        .aside-search #search{
            padding: 10px 12px;
            border: none;
        }

        .aside-search #search::placeholder{
            font-size: 16px;
        }

        .aside-search #search:hover,
        .aside-search #search:focus{
            outline: none;
        }

        .form{
            border: 1px solid #ced4da;
            position: relative;
        }

        .aside-search i{
            font-size: 22px;
            line-height: 40px;
            color: grey;
            cursor: pointer;
            position: absolute;
            right: 5px;
        }



